@font-face {
    font-family: 'metrosant';
    src: url('fonts/metrosant-regular.ttf') format('truetype'); 
}  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'metrosant', Arial, Helvetica, sans-serif;
    background-image: url('img/desert.jpg');
    background-position: center;
    background-size: cover;   
    background-repeat: no-repeat; 
}

h1 {
    font-size: 56px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    background-color: #692424;
    color: #ff9c1d;
    padding: 2px 15px;
    border: 1px solid #540903;
}

#playButton:hover {
    background-color: #692424;
    color: white;
}

canvas {
    background-color: black;
    border-radius: 10px;
}

#playButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 20px;
    padding: 20px 40px;
    cursor: pointer;
    background-color: #efc700;
    color: whitesmoke;
}

#restartButton {
    font-size: 20px;
    background-color: #efc700;
    color: whitesmoke;
    padding: 15px 15px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #692424;
    color: white;
}

#gameOverOverlay {
    display: none; 
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 720px; 
    height: 480px;
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    z-index: 100;
    border-radius: 20px;
}

#gameOverOverlay img {
    width: 720px;
    height: 460px;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}